{{define "plugins"}}

 <!-- CSS styling -->

 <!-- Bootstrap CDN -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

 <!-- My custom css link -->
 <link rel="stylesheet" href="../assets/css/main.css?v={random number/string}">

 <!-- Place your kit's code here (font awsome link) -->
 <script src="https://kit.fontawesome.com/7099ecac6f.js" crossorigin="anonymous"></script>
 
 <!-- Fonts -->
 <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@100;300;400;500;700;800&display=swap" rel="stylesheet">

<!-- favicon -->
<link rel="icon" href="../favicon.ico"  type="image/icon type">

{{end}}